includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - phpstan-baseline.neon
parameters:
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    # silence array return types
    #checkMissingIterableValueType: false
    tipsOfTheDay: false
    fileExtensions:
        - php
    level: max
    paths:
        - src
    autoload_directories:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/vendor/consolidation
    autoload_files:
        - %currentWorkingDirectory%/src/autoloader.php
        - %currentWorkingDirectory%/vendor/autoload.php
#    bootstrap: %currentWorkingDirectory%/tests/phpstan-bootstrap.php
    excludes_analyse:
        - %currentWorkingDirectory%/vendor
        - %currentWorkingDirectory%/src/Booka/Core/Psr4AutoloaderClass.php
    ignoreErrors:
        - '#Call to method [a-zA-Z0-9\\_]+\(\) on an unknown class the#'
        - '#Call to method [a-zA-Z0-9\\_]+\(\) on an unknown class the#'
        - '#Static property Booka\\Core\\Database\:\:\$instance \(ADODB_mysqli\) does not accept the#'
        - '#Call to method recordCount\(\) on an unknown class RecordSet#'
        - '#Method Booka\\Core\\Database\:\:getInstance\(\) should return ADODB_mysqli but returns ADODB_mysqli\|the#'
        - '#Access to property \$cacheSecs on an unknown class the#'
        # issues in Booka\Page\Page with smarty assuming callback is callable ;)
        - '#Parameter \#3 \$callback of method Smarty\_Internal\_TemplateBase::registerPlugin() expects callback#'
        - '#PHPDoc tag @var contains unknown class callback#'
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
    earlyTerminatingMethodCalls:
        Nette\Application\UI\Presenter:
            - redirect
    earlyTerminatingFunctionCalls:
        - redirect
#    exceptionRules:
#            reportUnusedCatchesOfUncheckedExceptions: false
#            reportCheckedThrowsInGlobalScope: false
#            ignoreDescriptiveUncheckedExceptions: false
#            checkedExceptions:
#                - RuntimeException
